[2016-04-10 00:26] jamonholmgren opened #6 "Feature: Image Content Area"
We'd like to be able to add images using Thesis. There would be no image gallery; images that are used more than once across the site would either need to be added as a URL or uploaded multiple times, assuming we add the upload capability.

Image content areas could be added like this:

[code]

We'll use the [`Phoenix.HTML.content_tag/3` helper](https://hexdocs.pm/phoenix_html/Phoenix.HTML.Tag.htm

[2016-04-10 00:37] jamonholmgren opened #7 "JS/EctoStore Test Suite"
Thesis-Phoenix needs work on its test suite.
- [ ] Thesis.EctoStore
- [ ] ThesisEditor js

[2016-04-10 03:28] jamonholmgren opened #8 "Feature: Page meta info editor"
This will be some sort of modal where we can edit:

* Title
* Description
* Other meta info?

[2016-05-12 16:05] jamonholmgren opened #13 "Feature: export/import"
### Export

In the settings dialog for any page, have a button to "Export Page Content" and "Export Site Content". These build a simple .json file, structured like this:

[code]
### Import

In the settings dialog for any page, have a button to "Import Page Content" or "Import Site Content".

Questions:
- When doing Import Page Content, do we only fetch the page that matches the URL of the current

[2016-06-04 03:36] yulianglukhenko opened #15 "Global Area Support"
With Concrete5, we had the ability to define a `GlobalArea` vs a `PageArea`. With global areas, you would edit the content once, and it would propagate the changes to all pages that used it. A nice to have.

@jamonholmgren

[2016-06-21 21:14] joeellis opened #17 "Link in github description doesn't work"
https://infinite.red/thesis looks like:

![image](https://cloud.githubusercontent.com/assets/49288/16246516/2a251a7e-37cb-11e6-9edf-c67fc7381906.png)

Sorry, really really not trying to be annoying - it was just the first thing I clicked because I wanted to know more :)

[2016-06-21 21:59] jamonholmgren commented on #17
Whoa. That was fast! 😁 Yes, it's in progress. I just made this public a bit ago. Will work harder!

[2016-06-21 22:49] jamonholmgren commented on #15
Agree. API could look something like this:

[code]

What do you think, @yulianglukhenko ?

[2016-06-21 22:51] yulianglukhenko commented on #15
Yes, I like that. So, what if someone was to add a page area with the same name? What would happen?

[2016-06-22 00:23] jamonholmgren commented on #15
It would be fine, because the names are namespaced behind the page slug and/or `global`, so it would be essentially:

[code]

[2016-06-22 00:53] yulianglukhenko commented on #15
![](https://s-media-cache-ak0.pinimg.com/564x/99/8e/b9/998eb9ab1e0912e40ba1ad875eb7675d.jpg)

@jamonholmgren

[2016-06-28 17:03] yulianglukhenko opened #18 "Don't output markup if content blank && no default content set."
It would be awesome if a content area wouldn't output the thesis markup after being published if the contents are blank. They can reappear in edit mode. Here's an example where that would be useful:

![](http://d.pr/i/1kEW8+)

[2016-06-28 17:05] yulianglukhenko commented on #18
I'm sure someone could use the html content area and add a div inside styled like this, but it's not practical to expect clients to write HTML.

[2016-06-28 18:30] yulianglukhenko opened #19 "Allow people to add tags to a content area"
A cool feature would be to allow people to tag a content area and open up those tags for the dev to use to alter added content.

A couple examples:

You have a text content area to output an alert on the page. The dev would add the following to the content area: `tags: %{type: :single, items: ["danger", "warning", "info"]}`. There would be some kind of intuitive way of displaying them on the front

[2016-06-28 18:31] yulianglukhenko commented on #18
@jamonholmgren

[2016-06-29 00:48] jamonholmgren commented on #18
Good idea.

[2016-06-29 01:35] jamonholmgren commented on #19
I could see this being a custom content block. I'm still figuring out how custom content blocks might work with Thesis, but that's my thought.

[2016-07-07 04:00] #15 closed

[2016-07-07 04:08] jamonholmgren commented on #15
We went with this API, to reduce overloading those functions too much:

[code]

[2016-07-07 08:26] yulianglukhenko opened #21 "Issue when saving"
Env: dev
Version: 0.0.15

This is the ThesisAuth module:

[code]

Thesis editor is visible after logging in = great:

![](http://d.pr/i/1f5YK+)

After editing a content area and saving, I get an error:

![](http://d.pr/i/14TGe+)

As you can see, inspect for user returns `nil`. Does the session not get passed into the Thesis scope?

@ryanlntn @jamonholmgren

[2016-07-07 08:29] yulianglukhenko commented on #21
More info: heres what the application router pipelines look like: ![](http://d.pr/i/vOFF+)

[2016-07-07 11:39] yulianglukhenko commented on #21
More info:

A regular site request (eg /) contains a few Guardian references in the conn:
![](http://d.pr/i/1fYyx+)

However, the `/thesis/update` request contains only one Guardian reference:
![](http://d.pr/i/1hHY4+)

[2016-07-07 11:45] yulianglukhenko commented on #21
My guess is Thesis doesn't see the session because we aren't passing through the browser_session pipeline to the "/thesis" scope ???

@jamonholmgren

[2016-07-07 11:52] yulianglukhenko commented on #21
Adding browser_session to the pipe_through in Thesis fixes the issue:
![](http://d.pr/i/1bEiV+)

I'm not sure if this is something that needs to be added to Thesis or changed on my app.

Please advise.

@jamonholmgren @ryanlntn

[2016-07-07 21:51] jamonholmgren commented on #21
Working on this. I think we'll need them to add the pipeline manipulations in the `can_edit_page?/1` function.

[2016-07-09 06:16] yulianglukhenko opened #23 "Entering Down in content-editable div creates <div> tag - :text block"

[2016-07-09 06:16] yulianglukhenko opened #24 "Entering Down in content-editable div creates <div> tag - :text block"
We need to prevent people from Entering down in a :Text block.

http://d.pr/v/OoCX

http://stackoverflow.com/questions/18552336/prevent-contenteditable-adding-div-on-enter-chrome

[2016-07-09 12:01] #24 closed

[2016-07-09 12:01] #23 closed

[2016-07-10 02:33] jamonholmgren commented on #21
Addressed in #26, relevant README section: https://github.com/infinitered/thesis-phoenix/blob/master/README.md#authorization

[2016-07-10 02:33] #21 closed

[2016-07-10 02:34] jamonholmgren commented on #19
Fixed in #26 with the `raw_html` content type.

[2016-07-10 02:34] #19 closed

[2016-07-10 02:34] jamonholmgren commented on #18
Added in #26 -- now outputs `thesis-content-empty` if empty.

[2016-07-10 02:34] #18 closed

[2016-07-10 02:35] jamonholmgren commented on #17
Still planning on doing this @joeellis -- it's taking a bit longer than expected.

[2016-07-10 02:36] jamonholmgren commented on #8
Fixed in #11.

[2016-07-10 02:36] #8 closed

[2016-07-10 02:36] jamonholmgren commented on #6
Fixed in #26. Will still need an image upload, but will address that in a separate issue.

[2016-07-10 02:36] #6 closed

[2016-07-10 02:37] jamonholmgren opened #27 "Feature: image upload"
Planning to add image upload. This issue is being created to discuss. @yulianglukhenko @kemiller

Relevant: #25

[2016-07-18 10:23] yulianglukhenko opened #30 "Thesis creates 2 migrations with the same timestamp"
![](http://d.pr/i/o4mz+)

This causes errors while running `mix ecto.migrate` on a fresh thesis install.

@jamonholmgren

[2016-07-18 10:35] yulianglukhenko opened #31 "Thesis fails to save content if page description length is > 255"
![](http://d.pr/i/15WmG+)

I tried editing a content area, but it would not save because the page description exceeded the allowed char length. I think the field type for page description should be `text`. Thesis isn't made to enforce SEO best-practices and it would be a bummer if a client tried adding a really long page description and it would fail.

In my case, this was a client-provided defaul

[2016-07-18 19:37] jamonholmgren commented on #31
We _could_ enforce the 255 char length limit and just provide a friendlier error message.

[2016-07-19 22:06] #27 closed

[2016-07-20 02:06] #31 closed

[2016-07-20 02:06] #30 closed

[2016-07-20 02:06] jamonholmgren opened #36 "Migrate page content areas to new slug"
Add the ability to migrate page content areas to new slug. Potentially, just "copy" everything to a new slug?

[2016-07-20 02:08] jamonholmgren opened #37 "Ability to create, edit, delete new dynamically routed pages"
With the new tray, we should more easily be able to create, edit, and delete dynamically routed pages. I'd like to tackle this next.

[2016-07-20 02:12] yulianglukhenko commented on #37
We also have 2 page related buttons ready to go. What fields do you plan on having?  Because if it's only Meta, then the tray with the buttons is all ready. Just needs to be hooked up.

[2016-07-20 03:12] jamonholmgren commented on #37
Yeah, it's more about the routing and template selection part.

[2016-07-20 07:11] jamonholmgren opened #38 "Allow some "pages" to just be 301 redirects to other URLs"
This goes somewhat in hand with #37.

1. Add additional field, `redirect`. It's a nilable string field
2. If this field is nil/empty string, carry on as usual
3. If this field is filled out, redirect

Question: how do we reach this page while editing? We won't want it to redirect, or we lose the ability to edit it.

We could simply land on the screen and show an alert saying "When not in edit mode

[2016-07-20 08:38] jamonholmgren commented on #37
So, here are some things I'm learning as I explore this a bit:

1. We can tell the dev to route a wildcard (`get "/*path", PageController, :dynamic`) pretty easily.
2. If the page doesn't exist in the database, we should probably render a 404...or leave that up to them?
3. Showing different templates should be fairly easy. I'm thinking we have the dev tell us what view to use, and then we just pul

[2016-07-20 20:21] jamonholmgren opened #39 "Rethink how React manipulates non-React components"
I'm not super happy with how we are currently handling non-React components. I'd like to research best practices and come up with some ideas on how we could improve / streamline it.

Examples, most of which should use state, not reach into the DOM:

https://github.com/infinitered/thesis-phoenix/blob/master/web/static/js/thesis-editor.js#L46-L47
https://github.com/infinitered/thesis-phoenix/blob/ma

[2016-07-20 21:29] danielberkompas commented on #39
Are you using `document` functions because the DOM elements you want to manipulate aren't within the element you're rendering to with `ReactDOM`?

[2016-07-20 22:44] jamonholmgren commented on #39
@danielberkompas Correct. While I'm using (and liking) React for the editor, the content editors themselves (HTML, text, image) live (at least partially) outside of the React component. This isn't a huge problem in and of itself, but I want to more easily achieve "UI as a function of state" regardless.

[2016-07-20 22:47] jamonholmgren commented on #39
Here's my idea:

[code]

[2016-07-20 23:24] kemiller commented on #39
Sounds like you just want some piece that will fill in the gaps in "dirty code" that would be given to you by the react renderer.  I.e. you want bridge that isolates the peeking and poking at the dom and lets your react component stay pure.

[2016-07-20 23:49] jamonholmgren commented on #39
I think I'll "wrap" the React component, so I can inject the dirty parts into the component and React never does any `document.querySelectorAll` calls.

[2016-07-21 13:12] skellock commented on #39
You won't get "UI as a function of state" because you're not in control of all the editors.  But I think that's just semantics.  You can certain achieve "UI controlled by state".

And honestly, you're pretty damn close as is.  Knowing nothing about your implementation details I was able to read your code right away.

So, what I've learned with React is:  keep pushing things up.  It will buy you ti

[2016-07-21 17:04] jamonholmgren commented on #39
Good stuff, @skellock. I thought about handing in a function as well to the editors (you can see my multiple `TODO: stop being stupid` comments), so that's great reinforcement. Will be working on this soonish.

[2016-07-25 22:52] yulianglukhenko opened #41 "UI - Add some way of differentiating global areas from page specific areas"
I'm probably going to employ the "modified" flag and actually display a white version while in edit mode stating the word "global". When it's modified, change it to green version saying "modified globally".

![](http://d.pr/i/1coJh+)

[2016-07-26 00:35] #41 closed

[2016-07-26 18:03] jamonholmgren commented on #38
This is in-progress in the `feature/dynamic-routing` branch.

[2016-07-26 18:05] jamonholmgren commented on #36
Idea: use a "copy" feature, and add an option to "redirect current page to new page" using the #38 enhancement.

[2016-07-29 07:09] jamonholmgren commented on #37
For #3, I'm realizing that it's not quite that easy. For one thing, creating new pages requires that we know in advance what the template options might be -- but we only retrieve those if the _current_ page was dynamically generated, which it very well may not be (and the first created dynamic page certainly won't be).

Instead, we _could_ leave the template selection in the hands of the host app

[2016-07-30 19:41] jamonholmgren commented on #37
Ref #42

[2016-07-30 19:41] jamonholmgren commented on #38
Ref #42

[2016-08-03 01:29] yulianglukhenko opened #43 "I see the Add Page button without enabling dynamic pages."
I can see the Blue button even without the dynamic page configurations added

[2016-08-03 22:04] yulianglukhenko opened #45 "Dynamic pages route needs to be last in order to not affect other routes"
![](http://d.pr/i/1iGXW+)

This affects the dev mailbox - /dev/mailbox returns 404.

![](http://d.pr/i/1aAZK+)

This works..

Probably just specify in docs to add last?

@jamonholmgren

[2016-08-06 22:57] jamonholmgren commented on #45
yeah, let's update the README.

[2016-08-10 07:15] yulianglukhenko opened #46 "Every content block is now a global block"
This started happening in the latest version.

Every area is now global:

![](http://infinitered.d.pr/XmXw+)

I did a test... I cleared the database and did a fresh page edit and save. This is what the database looks like after the save.

![](http://infinitered.d.pr/1ayyA+)

The page id is null, even though the areas are regular areas, not global:

![](http://infinitered.d.pr/bBGE+)

@jamonholmgre

[2016-08-10 07:32] yulianglukhenko commented on #46
This is a UI issue. @jamonholmgren

[2016-08-10 07:35] yulianglukhenko commented on #46
Line 69 of render.ex outputs the data attr if the content area is global and when the entry doesn't yet exist in the database (before first save):
[code]
Is there a way not to output it for all areas when they don't yet exist in database?

[2016-08-12 00:32] #46 closed

[2016-09-02 11:14] yulianglukhenko opened #49 "Template Options and Page Delete Button present on non-dynamic page."
When editing the page settings on a non-dynamic page (e.g. home page), the template options, page path, and redirect input field are all present.

![](http://infinitered.d.pr/1cZt3+)

After clicking "Save", the delete button appears on the non-dynamic page.

![](http://infinitered.d.pr/11t74+)

---

These options should not before there.

Here's an example of where this is disastrous as of right n

[2016-09-02 23:28] jamonholmgren commented on #49
This should be fixable without creating a whole new tray. I'll look into it tonight @yulianglukhenko .

[2016-09-02 23:29] yulianglukhenko commented on #49
Ok.. I'm just thinking of ways to keep this clean and future proof; but, up to you.

[2016-09-02 23:32] jamonholmgren commented on #49
Yeah, I'll keep that in mind looking at it. Right now, making new trays is kind of a PITA, because we have to duplicate so much of the JSX.

[2016-09-05 19:50] jamonholmgren commented on #49
Confirmed issue, working on this @yulianglukhenko .

[2016-09-05 21:05] jamonholmgren opened #50 "Raw HTML editor block is too short"
![image](https://cloud.githubusercontent.com/assets/1479215/18256993/b2cb5b4a-7371-11e6-9193-e9467f23df38.png)

Should be taller.

[2016-09-05 21:11] jamonholmgren commented on #43
Replicated, working on this.

[2016-09-05 21:21] #38 closed

[2016-09-05 21:21] #37 closed

[2016-09-05 21:30] jamonholmgren commented on #39
This still needs additional work, but I'm no longer very worried about it before release. I'll leave the Version 1.0 milestone on it, but I think 0.1 can be released without additional refactoring. We really need JS tests before we can get too crazy with this anyway.

[2016-09-06 00:28] #49 closed

[2016-09-06 00:34] #43 closed

[2016-09-06 00:47] jamonholmgren commented on #17
Rough draft created, waiting on a front end dev to apply styling that doesn't look like my 5 year old did it.

[2016-09-06 04:40] jamonholmgren opened #54 "Can create a page with the same slug as a static page"
To reproduce:

1. Have a static page in the routes, but don't save it. This means that it's not in the database.
2. Create a new dynamic page with the same URL as the static page.

This has some odd consequences.

1. The static template is rendered, but with the dynamic page's content.
2. You can delete the page, which clears all the content areas, but doesn't delete the static page.

I'm not sure

[2016-09-06 06:02] #54 closed

[2016-09-06 06:02] jamonholmgren commented on #54
Fixed in 66a3575 and subsequent bugfix commits. Shouldn't be a major issue going forward, but feel free to reference this issue if you run into bugs caused by this scenario.

[2016-09-06 20:56] yulianglukhenko commented on #50
@jamonholmgren it was fine until "someone" made the textarea block self closing:

![](http://infinitered.d.pr/1dWPJ+)

[2016-09-08 04:42] jamonholmgren commented on #50
@yulianglukhenko I wonder if my helpful linter did that. Someone can fix it pretty easily then.

[2016-09-08 19:32] manusajith commented on #50
@jamonholmgren tried to take a stab at this, but reverting the change that @yulianglukhenko mentioned didn't seem to fix the issue.

[2016-09-08 22:00] yulianglukhenko commented on #50
@manusajith @jamonholmgren hmm. must be something else then. I'm going to see what this looks like on one of my projects after I upgrade.

On a side note, textareas should still have a closing tag :) It'll still function as expected, just won't validate. I'm not sure if that's a feature of jsx to convert them...

[2016-09-08 22:11] yulianglukhenko commented on #50
@jamonholmgren @manusajith alright guys.. im quick to blame jamon so i'm sorry (not really). The textarea should have a `min-height` of probably `200px` added to the `_forms.sass`. It has been looking fine everywhere for me because I work on thesis on projects that already have form styles (and textarea min-heights).

[2016-09-09 03:33] jamonholmgren commented on #50
![2016-09-08-4vwb4](https://cloud.githubusercontent.com/assets/1479215/18374629/84eea2ec-7603-11e6-9992-41846d6eb605.png)

Perfect.

[2016-09-10 01:31] yulianglukhenko opened #59 "Latest release prevents raw_html blocks from saving when they are blank"
Raw HTML block produces an internal server error when saving when blank.

Here's a screencast: http://infinitered.d.pr/9KEq

Here's the console output:

![](http://infinitered.d.pr/141s3+)

@jamonholmgren

[2016-09-13 00:07] jamonholmgren opened #60 "Two content blocks with the same name causes undesirable behavior"
If an app developer copies & pastes a content block and forgets to change the name, Thesis will update both with the last-in content.

Proposed solution: detect this scenario in Javascript and display an alert to the user. Should be relatively straightforward to implement.

@yulianglukhenko @darinwilson

[2016-09-13 21:40] yulianglukhenko commented on #60
Could this be detected with Elixir instead? This way we could prevent an "update" if theres a duplicate block. Probably would be cleaner with Elixir than adding more logic to JS.

[2016-09-13 21:52] yulianglukhenko commented on #59
@jamonholmgren I'm going to test the fix now

[2016-09-13 21:57] yulianglukhenko commented on #50
@jamonholmgren @manusajith looks like the sass wasn't compiled in the PR. I'll submit the compiled version along with a few tweaks later on today.

[2016-09-13 22:08] yulianglukhenko commented on #59
@jamonholmgren looks like this is good to go. 👍

[2016-09-13 22:08] #59 closed

[2016-09-13 22:15] yulianglukhenko opened #62 "Global area will not propagate to pages that have not yet been edited"
If you have a global area (say, footer copyright text). You make a change to it on the home page and go to the about page. Now, the only way the copyright text will propagate to that page is if it has been edited in the past (if it has  an entry in the the thesis_pages table). If it hasn't, it'll display the default content specified in the `do:` block.

Steps to reproduce.
1- create 3 pages with

[2016-09-18 00:00] #45 closed

[2016-09-18 00:00] #50 closed

[2016-09-18 00:00] #62 closed

[2016-09-18 00:36] jamonholmgren opened #64 "Reorder editor buttons"
Currently, the order goes like this:

* Save
* Page settings
* Cancel
* Add page
* Delete page
* Toggle edit

![image](https://cloud.githubusercontent.com/assets/1479215/18611869/aef8b9c8-7cfd-11e6-84df-5f7be934cbce.png)

I think this makes more sense from a UX standpoint:

* Add page
* Delete page
* Page settings
* Save
* Cancel
* Toggle edit

After using it for a while, I also dislike hover disp

[2016-09-18 02:19] jamonholmgren commented on #60
@yulianglukhenko It can't, unfortunately. We learn about new content blocks for the first time in the template, at which point it's too late to start modifying the `@conn` struct. This will be much better as a JS warning.

[2016-09-20 05:00] jamonholmgren commented on #64
@yulianglukhenko Okay, I can probably get on board with that idea. But let's get @justinhuskey's viewpoint on this, to be sure.

[2016-09-20 05:08] jamonholmgren opened #67 "Adding a dynamic page with spaces in the path results in 404"
To recreate:
1. Click _Add New Page_
2. Make a path with spaces in it, like `/this has spaces`
3. Redirects to `/this%20has%20spaces` and doesn't show the page

We can either force a slugify or attempt to route the path with spaces in it. I vote for the former.

[2016-09-20 05:11] justinhuskey commented on #64
More common to do the two states like Yulian mentioned.

If the user is editing a page, don't distract them with anything that isn't implied with the action: edit a page.

I see new and delete as more top level, and then save and cancel as secondary edit features.

Although, is save the right word? Something like "save" wouldn't make me think my changes are live. A label like "Publish" would give

[2016-09-20 05:14] jamonholmgren commented on #64
OK, the designer has spoken. I like "Publish" or "Publish Changes" too.

[2016-09-20 06:15] jamonholmgren opened #68 "Updating the path on a dynamic page creates a new copy"
1. Create a new dynamic page
2. Edit that page's path
3. There will now be two of those pages, one at each path

Possible solutions:

1. Make "moving" or "copying" a page a separate operation.
2. When "move" is selected, give an option to forward the old location to the new location. This will actually make a copy and modify the original to have a redirectURL to the new copy.
3. When "copy" is sel

[2016-09-20 19:01] yulianglukhenko opened #69 "Rethink the Thesis Editor Buttons - css and markup is a pain to tweak"

[2016-09-20 19:11] yulianglukhenko commented on #64
@jamonholmgren i'll have to fix this later this week. it's not really an "easy" fix. i was learning animations when doing this so the code isn't the best and it's very hard to work with. I opened up an issue to rework the buttons (issue #69)

[2016-09-20 21:51] jamonholmgren commented on #64
Okay, thanks @yulianglukhenko .

[2016-09-20 23:46] yulianglukhenko opened #70 "Anchor Input not showing up when link is created or edited (medium editor)"

[2016-09-21 00:04] yulianglukhenko commented on #70
Fix is in `fix/rearrange-thesis-buttons` branch.

[2016-09-21 15:27] #70 closed

[2016-09-21 15:27] #64 closed

[2016-09-21 15:27] #69 closed

[2016-09-21 23:04] #39 closed

[2016-09-22 08:46] yulianglukhenko opened #73 ":classes keyword should only add class to the thesis div, not content inside"
![](http://infinitered.d.pr/1luW7+)

[2016-09-29 23:29] yulianglukhenko opened #75 "Discussion - Should changing the content type succeed without providing a new name?"
Say we have a text area.. Client wants to  change it to a html area AFTER they already added content to the area.

Right now, the area doesn't change. You make the code changes, but when you edit the page, the area is still a text area.

The solution right now is to change the area name AND copy the content over manually. I usually just add append the version number of the area - e.g. Sidebar Head

[2016-10-22 03:25] jamonholmgren commented on #75
Forgot to update this after our discussion, and now I don't remember our conclusion. The problem with just changing the content type is that the old content type will likely not be compatible with the new content.

[2016-10-22 03:25] jamonholmgren commented on #73
Yeah, this is a bug.

[2016-10-27 05:37] yulianglukhenko opened #76 "Ospry should save the https URL by default"
Saving non-secure url will result in a mixed-content warning.

https://github.com/infinitered/thesis-phoenix/blob/master/web/static/js/content_types/image_tray.js#L61

This should be `metadata.httpsURL`.

[2016-10-28 01:27] #76 closed

[2016-11-15 00:55] yulolimum opened #78 "Move away from Ospry.io as the default simple image host."
Ospry  has been very unreliable in production. Service down every few days.

We should investiage alternatives that are just as easy for devs/clients to setup. AWS is the best option but is it easy enough for client to sign up for?

Perhaps, another alternative for a default image host is storing media as blobs in a separate table in the admin.

[2016-11-23 22:15] #78 closed

[2016-11-23 23:13] jamonholmgren commented on #7
I've added some basic Jest tests in #65. Testing is still a little light, but Thesis is fairly straightforward overall, so I'm not as worried. The EctoStore tests would be very nice though.

[2016-11-23 23:25] yulolimum commented on #68
I think there's something wrong with the logic somewhere. Editing a page path should update the record in the `thesis_pages` table, not dupe it. @jamonholmgren

[2016-12-08 08:30] yulolimum opened #80 "/thesis/files/ paths don't load when user not authenticated"
If authentication is setup with thesis, the uploaded files under the /thesis/files/* path don't load.

[2016-12-08 21:13] #80 closed

[2016-12-08 21:14] jamonholmgren opened #82 "Write test for #81"
I merged #81 with no tests, but would like a set of tests so we don't break this again.

cc #80 @yulolimum

[2017-01-10 03:32] jamonholmgren opened #83 "Intermittent duplicate content rows"
As reported by @yulolimum, we've run into an intermittent issue where sometimes duplicate rows are created. It's been a real bear to replicate locally. Until we are able to fix this, I'm going to push an update that is more vigorous about checking for duplicates before creating new content rows.

Add more info here as we find any.

[2017-02-02 03:54] jamonholmgren opened #86 "Use the CSS `all` property to reset Thesis editor styles"
One issue we've been worried about is having our menu / tray styles conflict with the host app's styles. We've tried to namespace everything, but if someone gives all `label` tags a style, we'll inherit those.

I just stumbled across the `all` property. Read more here:

https://css-tricks.com/almanac/properties/a/all/

Essentially, we should set `all: initial` on Thesis elements to avoid clashes w

[2017-03-10 17:24] jamonholmgren opened #88 "Support Safari"
There's an issue in Safari ( @yulolimum can provide more details) and we should support it. (also IE, Edge, Firefox, Brave, but let's start with Safari ).

[2017-03-10 19:03] jamonholmgren commented on #88
Ref #87

[2017-03-10 19:04] #88 closed

[2017-03-13 19:55] yulolimum opened #89 "Content Transfer Feature"
I ran into this doing the Infinite Red Ignite page. All of the content was done on staging and after deployment, we either had to manually copy paste to production or transfer the db records through navicat.

What would be cool is if there was an `Content Export/Import` button in the thesis tools. Clicking that would open up the side tray where you would see a export textarea prefilled with serial

[2017-03-13 20:12] jamonholmgren opened #90 "Normalize slug before retrieving page"
Problem: If you have a trailing slash or double slash at beginning of the slug, Thesis will think it's a new page.

Solution: Let's normalize the path to have no trailing slash nor double-slash at beginning. Probably needs to be done just [before this line](https://github.com/infinitered/thesis-phoenix/blob/master/lib/thesis/controller.ex#L93) of code.

[2017-03-14 19:35] #90 closed

[2017-03-23 23:34] jamonholmgren commented on #89
Agree, this would be very valuable.

[2017-03-24 00:27] jamonholmgren commented on #89
@yulolimum I'm thinking we wouldn't actually save the content when the user pasted it into the import box. Instead, we'd apply it to the whole page with JS so they could preview it before clicking save.

[2017-03-24 01:31] jamonholmgren opened #92 "Image alt text doesn't reset between different images"
When I click into one image, set the alt tag, then click into another image, that second image has the first image's alt tag. Needs to be reset on each image click.

[2017-03-24 01:31] jamonholmgren commented on #92
![image](https://cloud.githubusercontent.com/assets/1479215/24276876/f211d9d8-0ff6-11e7-9a54-1c4d7119397b.png)

This is wrong -- this image doesn't have that alt tag.

[2017-04-03 19:06] jamonholmgren opened #96 "Remove Ospry"
Ospry doesn't appear to be actively supported and we're finding it's unreliable. Let's remove it entirely from Thesis.

[2017-04-03 20:40] #89 closed

[2017-04-07 15:08] yulolimum commented on #13
@jamonholmgren - I just noticed this issue. lol. We resolved a very similar issue with the last thesis version.

I would like to discuss importing/exporting the entire site though. It is a good idea but I'm not sure that it is necessary for thesis for what it is. It is also very very destructive. Having said that, I think that transferring entire site's content should be done by a developer and ma

[2017-04-07 15:09] yulolimum commented on #36
@jamonholmgren we currently have the export/import functionality. They can: 1 - create new page, 2 - migrate content. I think just eventually documenting this process is sufficient.

[2017-04-07 18:59] yulolimum opened #97 "Unable to add classes if using a do/end block for placeholder"

[2017-04-13 21:27] yulolimum commented on #13
Addressed in #94 .

Closing for now. If we need to import entire site, we can re-open.

[2017-04-13 21:27] #13 closed

[2017-04-13 21:30] yulolimum opened #101 "Add a way to make page content backups as well as the ability to restore to previous versions."
This can be an addition to the import/export code. We can reuse some of the code to serialize the page data on save. We'll need a migration and a new endpoint to save the data.

[2017-04-15 00:50] agustif commented on #101
Im guessing you're not a fan of adding third party dependencies, and seeing this as an alternative to exAdmin bloated code, but smpallen has [whatwasit](https://github.com/smpallen99/whatwasit) and example using it along with coherence called [store](https://github.com/smpallen99/store).

There's is also [paper_trail](https://github.com/airblade/paper_trail) for further reference, but maybe the ra

[2017-04-15 05:38] yulolimum commented on #101
@agustif - this is actually a very interesting suggestion. The goal with thesis is to have a very minimalistic approach to everything, from the editor itself to the models, from the number of deps to the code. I think whatwasit or something similar could be a potential solution if Thesis starts getting more complex in nature or we do a rewrite of the endpoints to support versioning (with the right

[2017-04-16 23:39] agustif commented on #101
Sure, probably you're right, since right now your use case involves already-trusted users, your employees, stuff like knowing who and when made one edit, or being able to rollback all edit from a user, are not needed for now.

I actually think your approach of simple is best, and maintaing deps to a minimum too, I love to peek on github's repos and issues, and it seems with the new path for phoeni

[2017-04-21 02:41] yulolimum opened #103 "`:classes` option doesn't work if followed by a do block"
@jamonholmgren - I dont think this actually works: https://github.com/infinitered/thesis-phoenix#custom-classes-or-id

However, this works:
`<%= content(@conn, "capabilities item heading", :text, do: "Pariatur noster qui", classes: "offer-heading") %>`

[2017-05-22 17:17] jamonholmgren commented on #101
@yulolimum Can you give an update on this?

[2017-05-22 18:14] yulolimum commented on #101
@jamonholmgren You and I actually have been attempting to pair on this for the past few weeks. I need to wrap up the tests but am getting a very weird error.

[2017-05-22 18:18] ryanlntn opened #105 "Switch to a more powerful WYSIWYG editor"
The current editor doesn't allow editing source which can be quite a hassle. I suggests we switch to using Trumbowyg which has been working well for us in some other applications.

[2017-06-20 13:34] yulolimum commented on #105
@ryanlntn  - where are we at with this?

[2017-06-20 13:35] yulolimum commented on #101
Working on some tests for this.

[2017-06-20 13:36] yulolimum commented on #97
This is a duplicate of #103

[2017-06-20 13:36] #97 closed

[2017-06-20 13:38] yulolimum commented on #83
This was addressed a few version ago. Keeping this open if people run into this again.

[2017-06-20 13:39] yulolimum commented on #67
@silasjmatson  - where are we at with this?

[2017-06-20 15:58] ryanlntn commented on #105
@yulolimum https://github.com/infinitered/thesis-phoenix/pull/107 added support for custom html editors. We could still switch the default editor if we want. I was wondering if it wouldn't make sense to wrap up what I did for Trumbowyg in an npm package to make it easier to add.

[2017-06-20 16:52] silasjmatson commented on #67
@yulolimum I have it mostly fixed locally, but I'm running into various issues with the tests. I've been attempting to get @jamonholmgren on a pairing session, but he's a busy man.

[2017-06-21 17:21] #83 closed

[2017-06-21 17:22] #82 closed

[2017-06-22 02:44] yulolimum opened #109 "Add ability to choose custom layout for dynamic templates"

[2017-06-25 00:26] jamonholmgren commented on #109
Can you provide some ideas on how we might implement this? @yulolimum

[2017-06-25 00:32] jamonholmgren commented on #67
@silasjmatson Let's try again next week

[2017-07-06 05:24] #60 closed

[2017-07-06 05:27] silasjmatson commented on #67
Fixed in 2ac005b60b9bd974c1504a50c74b6ae0c03d1cf5

[2017-07-06 05:31] silasjmatson commented on #67
Oops, closed the wrong issue.

[2017-07-06 05:37] silasjmatson opened #113 "Use Ecto.Multi when saving multiple records at once"
See: https://github.com/infinitered/thesis-phoenix/blob/master/lib/thesis/stores/ecto_store.ex#L110-L112

We will need to refactor this to use [Ecto.Multi](https://hexdocs.pm/ecto/Ecto.Multi.html)

[Here's an excellent write-up on this topic](http://blog.danielberkompas.com/2016/09/27/ecto-multi-services.html) to get started.

[2017-07-20 18:02] silasjmatson opened #114 "Images uploaded with Thesis aren't cached properly."
I'm not fully sure this is a thesis issue, but it needs more investigation.

Images were being served with `Cache-Control:max-age=0, private, must-revalidate`

We should either allow the `Cache-Control` header to be configured w/in thesis, or serve them with a `Cache-Control` header similar to normal assets, or set a reasonable max-age value.

[2017-07-20 20:08] silasjmatson commented on #114
One solution would be to set the 'Cache-Control' headers here: https://github.com/infinitered/thesis-phoenix/blob/master/lib/thesis/api_controller.ex#L57-L61

[2017-09-07 05:57] #101 closed

[2017-09-07 18:15] jamonholmgren opened #118 "Installation script -- support Phoenix 1.3 style"
When running `mix thesis.install` on a new Phoenix 1.3+ project, this error occurs:

[code]

The code in question is here:

https://github.com/infinitered/thesis-phoenix/blob/master/lib/mix/tasks/thesis.install.ex#L69-L71

We need to detect that this file doesn't exist and, instead, find the file that is something like `lib/*_web.ex`, and then run against that.

[2017-09-07 20:52] #118 closed

[2017-09-11 18:38] anthonylebrun opened #122 "Add Store caching to avoid excessive requests to long term storage like a SQL database."
Just parking an issue/feature since I'm working on a PR for this :) I have it working pretty well and have tested it manually. Just need to do some cleanup, add tests and update the README.

[2017-09-16 03:41] yulolimum opened #128 "Exception when trying to access the import/export/backup tray when current Page is not yet in db"
If you have a Page that hasn't yet been registered in the database, when you access the import/export tray you get an exception. We need another function to handle  when the page is `nil`.

[code]

[2017-09-16 03:45] yulolimum commented on #128
Some context: when you access that specific tray, we make a request to get all revisions for this specific page. We make this request every single time you hit that button. It is so that you don't have to refresh the page to see a list of updated revisions after you publish some changes.

[2017-09-16 03:45] yulolimum commented on #128
We can just return empty array if page is nil.

[2017-09-16 04:06] jamonholmgren commented on #122
Excellent, thanks @anthonylebrun ! Looking forward to seeing it.

[2017-09-16 04:14] jamonholmgren opened #129 "Remove or replace lz_string"
@aaronrenner let me know that using `lz_string` is really slow. We should consider changing it (he had a suggestion -- maybe he can repeat it here, as I don't remember what it was). Or simply remove it. I'm not sure it's all that necessary.

One problem is that when we have production data in the wild, compression helpers can't change very easily. We need to plan the migration carefully so we don'

[2017-09-16 04:58] aaronrenner commented on #129
At my day job, we were having serious cpu and memory usage issues on the machines that were handling lz string decompression. @koudelka (my co-worker and the maintainer of https://github.com/koudelka/elixir-lz-string) recently removed `lz_string` and replaced it with erlang's built in `:zlib` library on these servers.  As soon we deployed it, we saw both memory and cpu demands on these machines de

[2017-09-16 05:07] yulolimum commented on #129
Hey @aaronrenner - thank you for the input man. I'm thinking to scrap compression altogether unless zlib does a much better job at compression (not only speed-wise, but size too).

Right now, we **only** decompress when a revision is selected (to restore past content) - so not as often as one may think. However, compression happens every single Publish. Although it may not take a long time to comp

[2017-09-16 05:13] yulolimum commented on #129
@jamonholmgren - we can probably handle conversions in a migration. Backups feature just got released so the only sites we have that on are a handful of IR clients that probably haven't had many page edits. Also, not sure that we updated Thesis on those sites since release so that's even less.

[2017-09-16 06:22] koudelka commented on #129
Hey y'all.

I'm afraid that lz-string really should be replaced. At the time when I was looking around for a client-side compression library, it was the best that I could find. My understanding is that lz-string is really just a partial implementation of the deflate algorithm, but it's not block-based and doesn't do the huffman bit reduction stuff either. It's also fairly unmaintained, as far as I

[2017-09-16 07:27] jamonholmgren opened #131 "Discussion: Content Areas"
This is an issue to track the discussion about content areas in Thesis.

Here's a random page from the internet (Denny's restaurant, I guess):

![dennys](https://user-images.githubusercontent.com/1479215/30510161-aa150dbe-9a73-11e7-8f20-cf8d1e25edd4.png)

As you can see, there are repeated, similar blocks vertically down the page. If we wanted to make this page editable in Thesis currently, it wou

[2017-09-17 03:56] jamonholmgren commented on #129
@aaronrenner @koudelka Thanks so much for your input, definitely appreciated!

@yulolimum Let's just skip compression for now. While pako and `:zlib` sound really great, I don't want to have this same issue down the road if something changes. The amount we're storing is fairly negligible (famous last words...).

[2017-09-18 18:23] ryanlntn commented on #73
This bit us today on IR website. I'll try to take a crack at fixing later.

[2017-09-30 04:27] anthonylebrun commented on #75
I think one approach is to break PageContent into two different concepts (naming is a bit rough):

[code]

Now the live rendering of the page content is decoupled from how it should be rendered in the editor mode, plus it we can leave old content be until it's explicitly updated/saved in the editor with the new type. Presto: backwards compatibility!

This new structure could also set the stage for

[2017-10-01 04:22] jamonholmgren commented on #75
Hm, I see where you're going with that, @anthonylebrun , but I'm not too enthusiastic about introducing another layer on top of `PageContent`. This situation is fairly rare, I think, and I don't want to make it more complex in order to deal with an edge case with a relatively straightforward workaround. But thanks for your thoughts, I'll discuss with @yulolimum .

[2017-10-12 07:24] yulolimum opened #135 "recent thesis.install.ex changes generate a duplicated thesis_auth.ex file"
If you are running an existing and older version (pre 168cfb88bab2ae8f3eb556164978389261bac0a4) of Thesis, you will already have a `thesis_auth.ex` file in `./lib/`.

Running `mix thesis.install` after upgrading to a newer version of Thesis will duplicate the file in `./lib/YOUR_APP/`.

![](http://d.pr/i/0F0rOK+)

This results in a CompileError:
[code]

[2017-10-26 20:57] zberkom opened #136 "Update chromedriver to run headless chrome"
This will increase integration test stability and speed locally & on CI.

[2017-10-26 21:48] zberkom opened #137 "Update bin/ci script to run credo & fix warnings"
Software Design
┃
┃ [D] → Found a TODO tag in a comment: # TODO: Issue #83 - intermittent issue
┃       with duplicate content rows
┃       lib/thesis/stores/ecto_store.ex:65 #(Thesis.EctoStore.page_contents)
┃ [D] → Found a TODO tag in a comment: # TODO: Update to String.trim when we
┃       only support Elixir >= 1.3 in the future.
┃       lib/thesis/render.ex:64 #(Thesis.Render.wrapper_attribut

[2017-10-27 20:36] #136 closed

[2017-12-14 16:37] mlaco opened #139 "Absolute positioned areas not editable"
One way to address this would be providing another way to select a content area to edit. For instance, "previous/next" buttons.

In this example, the photograph and other elements are not selectable.
![screen shot 2017-12-14 at 11 25 33 am](https://user-images.githubusercontent.com/4466642/34003198-adf6865c-e0c2-11e7-9532-8ec0bd9ed662.png)

[2017-12-16 08:23] jamonholmgren commented on #139
I would prefer to find a way to escalate Thesis editor to the front z-index and fix this problem. I think @yulolimum might put the `thesis_editor(@conn)` in the footer, which helps?

[2017-12-16 09:12] yulolimum commented on #139
@mlaco @jamonholmgren since thesis uses absolutely positioned areas while in edit mode, whatever z-indexes your relative containers have conflict with the z-indexes that thesis adds. Until we find a way to be able to interact with editable areas that doesn't involve inline editing, you will have to use workarounds. For example, Concrete5 doesn't actually use editable divs - it uses additional elem

[2017-12-16 20:37] #139 closed

[2017-12-16 20:38] jamonholmgren commented on #139
Nice!

[2018-01-11 20:01] justinhuskey opened #140 "Copy/Paste styles get carried over"
If I copy/paste a text block from Google Docs, it carries over the styles set in the Google Doc. See gif. There's also no way to go back and change it to the proper formatting. I paste it and it just ends up the way it is.

![2018-01-11 12_00_16](https://user-images.githubusercontent.com/4877999/34844653-0f0d8796-f6c7-11e7-8d64-3eebf33a79f6.gif)

[2018-01-12 23:13] jamonholmgren commented on #140
Thanks for reporting this, @justinhuskey . As a temporary workaround, in Chrome/macOS you can paste with Cmd+Shift+V to remove all formatting.

[2018-01-13 01:34] justinhuskey commented on #140
Oh I didn't know that! Ty ty

[2018-01-15 19:54] JenFucci opened #141 "Can't add line breaks in paragraphs"
It won't let me break a line onto a separate paragraph. Keeps adding spacing instead so I end up with a large amount of space before a sentence.

<img width="784" alt="screen shot 2018-01-15 at 12 54 15 pm" src="https://user-images.githubusercontent.com/17892823/34959324-3a0a6a52-f9f3-11e7-89fa-daccbd0093c8.png">

[2018-01-16 07:07] jamonholmgren commented on #141
Thanks @JenFucci ! Maybe you can show me this tomorrow as I'm having trouble replicating the problem in my tests tonight.

[2018-01-20 07:21] jung-hunsoo opened #142 "Hex dependencies conflict on httpoison."
When I performed `mix deps.get`, the `httpoison` library version conflict is occured.
[code]

I think the hex dependencies aren't updated in the hex.pm([https://hex.pm/packages/thesis](url))

How can I fix this?

[2018-01-20 07:26] jung-hunsoo commented on #142
I just solved after `mix deps.update --all` then `mix deps.get`. But I don't know why the current github mix file and hex.pm dependencies are different.

[2018-01-21 02:35] jamonholmgren commented on #142
Thanks for reporting, @jung-hunsoo ! That is strange. I don't have time to look into it right now but will at some point.

[2018-03-02 21:51] thedangler opened #144 "Demo Page doesn't work"
You demo isn't working. nginx error or something.

[2018-03-02 23:18] jamonholmgren commented on #144
Thanks for reporting, @thedangler !

[2018-03-19 11:45] yulolimum opened #145 "need to trim whitespace on output"
An example situation when this is a problem:
Element has margin-bottom. But it only needs to be there when there is content. Using `:empty` pseudo does not work because output html has whitespace.

[2018-03-26 20:16] yulolimum opened #146 "Create a backup of initial (placeholder) content."
Right now, the first revision in the backup system is a snapshot of the content after the very first page Save. This is good; however, we lose all content (default / placeholder content) that was there before the first Save. The only way to get it back is to change the content IDs for all areas on the page in the code. It would be nice to have a copy of the content in the database.

[2018-03-29 04:55] yulolimum opened #147 "Add a Notification/Alert system"
Notifications or alerts are needed to let the user know of various things that Thesis is expecting/needs, or notify the user of potential issues while editing. A good example: we are adding a very important migration to remove the LZString compression that converts compressed data to a json string. If Thesis is updated but the migration is not executed, there will be Internal Server Errors if you

[2018-03-29 05:24] yulolimum opened #148 "Can't click on Add New Page button since there is space below it"
When hovering on the Edit Page button, the Add New Page button appears. However, since there is space between the two buttons, mouseleave triggers and the Add New Page button disappears.

[2018-04-17 04:31] jamonholmgren commented on #146
I can't think of a really simple way to accomplish this offhand. Do you have any ideas?

[2018-04-17 04:32] jamonholmgren commented on #146
Actually, I suppose we could delete all revisions. That would "reset" the page entirely. I kind of like the idea of doing this, but we would need to make it hard to do accidentally.

[2018-04-17 17:13] yulolimum commented on #146
@jamonholmgren I actually disagree. The whole point of revisions is to have a history. Deleting all revisions just to get to "version 1" is counterproductive IMO. Also, you'd actually have to delete the Page and PageContents in order to go all the way back to placeholder.

[2018-04-23 18:58] jamonholmgren commented on #146
Understand, yeah. Any ideas? I don't want something janky.

[2018-05-15 16:52] #129 closed

[2018-06-12 00:01] yulolimum opened #150 "Add namespaced events for Thesis interactions"
It would be useful to know when thesis enables/disables the editor, etc. I ran into an issue where I need to disable a slider when thesis editor turns on.

For reference: https://stackoverflow.com/questions/21817397/event-handler-namespace-in-vanilla-javascript?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-06-20 19:34] yulolimum opened #151 "Add an option to filter out global content areas when exporting page content"
![image](https://user-images.githubusercontent.com/1775841/41680382-2ec5b8be-7486-11e8-872c-9bd9d4f2b33e.png)

Perhaps something like a little toggle switch here?

[2018-07-03 15:59] jamonholmgren commented on #151
Good call.

[2018-07-06 23:28] yulolimum opened #152 "When importing content from another domain, images are not being uploaded"
Images being imported from other domains should be downloaded and stored in `thesis_files` or a user specified destination as per: https://github.com/infinitered/thesis-phoenix/blob/master/assets/js/content_types/image_editor.js#L73

This is not happening.

[2018-07-24 04:40] jamonholmgren opened #153 "Redirects don't work if not logged in"
Repro steps:

1. Create a new redirect page with any slug
2. Go to an incognito browser and try the URL
3. You won't redirect as expected

[2018-09-25 13:23] johannesE opened #154 "First deployment issues Mix.env and generated migration"
Hi there

Thanks for this awesome project. I had absolutely no issues in development, but my first deployement went horribly. Here are the issues:

The migration `ChangeAndConvertPageDataTypeInBackupsTable` failed because of

[code]

This is something I cannot explain. Especially since there are no Backups present. And because it worked on my machine. I just removed everything in the change functi

[2018-10-18 02:56] jamonholmgren commented on #154
Hey @johannesE , sorry about the late reply and thank you for the kind words!

I'm going to see if @yulolimum can take a look at these issues. Thanks for bringing them to our attention.

[2018-12-08 15:00] wolves opened #155 "Ambiguous call to function repo/0 on `mix ecto.migrate` - Phoenix 1.4"
First, thank you for dedicating time to such a cool package for the community.

I recently did a fresh phoenix app to check it out and ran into the provided error during the migration step. To clarify, the project itself has absolutely no changes to it from a fresh Phoenix app other than adding thesis to the `mix.exs` file as instructed and following the directions provided in the Readme

[code]

[2018-12-08 23:55] jamonholmgren commented on #155
Thanks for the kind words, @wolves ! Would you want to take a stab at fixing this bug?

[2018-12-09 05:41] wolves commented on #155
I am willing to take a look into it absolutely but in the spirit of full disclosure, I feel I am still relatively new to elixir. I will give it a shot as it's a great opportunity to learn but may need to reach out for assistance if I get stuck.

[2018-12-09 15:20] wolves commented on #155
That was much more basic than expected, ha! Assuming my solution is acceptable of course.

[2019-01-02 21:15] jamonholmgren commented on #155
@wolves Thank you! I'll take a look.

[2019-01-14 21:52] MikeAndrianov opened #158 "View.content doesn't work with additional attributes"
Currently you can't pass some options (like it specified in the readme) because error is present: `undefined function content/5` while trying to run some code from the Readme:

[code]

Here is PR that should fix it: https://github.com/infinitered/thesis-phoenix/pull/157

[2019-01-31 11:50] johannesE commented on #154
@yulolimum could you take a look at these issues?

[2019-03-10 05:16] #154 closed

[2019-03-10 14:22] johannesE commented on #154
Thank you

[2019-03-20 18:47] gdub01 commented on #131
I like this idea a lot. I think there's maybe 2 items here:

1. Grouped content. Currently content is only grouped in the context of a page. However, it could be you have a 'profile' piece of content that you want to always display using a piece of text content, image content, and html content. So you could define content blocks to be more modular. Grouped content may or may not be global content.

[2019-04-10 18:22] sensiblearts opened #162 "Security, appropriate use cases?"
Greetings,
Is this considered secure enough to let a random customer have a editor access? Or is the use case more of internal employee?

I have not yet looked at the code; is it protected from SQL injection or other attacks?

Thanks,
David

[2019-04-13 04:01] #153 closed

[2019-05-05 22:09] jamonholmgren commented on #162
Hey @sensiblearts, I appreciate your patience! I didn't see this until now.

The use case that we've used it for is internal employee. However, in theory it should be secure enough for a random customer to have access.

In any event, you are able to verify what they're posting before we write it to the server.

https://github.com/infinitered/thesis-phoenix/blob/bbf88df1b8035e40f4988d62ffae3597f5e8

[2019-08-25 20:56] praveenperera opened #166 "Add ability to disable duplicate content block message"
Added in #112 (#60).

I don't know if this is just me but there are some places on the website that this is the desired behaviour. I want to make sure that editing one content area automatically changes the other.

[2019-08-26 01:44] praveenperera opened #167 "Add support for modals"
I was able to get modal editing working with some simple css

[code]

However one problem I am having is that if, I make a content area that triggers the modal to open, I am unable to edit that content area without opening the modal.

[2019-10-01 00:21] jamonholmgren commented on #167
Hey @praveenperera ! Thanks for the issue. Sorry it's taken me so long, I've been traveling.

I'll take a look when I can -- about to head to another conference.

[2019-10-01 00:22] jamonholmgren commented on #166
Perhaps we need an option, `allow_duplicate: true` or something?

[2019-10-01 03:40] praveenperera commented on #166
I like this option, I think I'll have some time this week to try and make a PR.

[2019-10-01 18:05] jamonholmgren commented on #167
Hey @praveenperera, I wonder if this workaround is sufficient for now. I'm not sure if it's worth trying to handle this case in Thesis itself. Thoughts?

[2019-10-01 19:55] praveenperera commented on #167
For me the work around is fine, we could wait and see if other people run into similar problems.

[2019-11-05 03:15] jamonholmgren commented on #166
That would be great @praveenperera !

[2019-11-07 17:15] praveenperera commented on #166
I will try to take a look this weekend 😊

[2019-11-12 18:03] sfusato opened #169 "Migration 'ChangeAndConvertPageDataTypeInBackupsTable' raises an error when in prod as an Elixir release"
This is the error I receive:
[code]
No issues whatsoever in dev on localhost.

[2019-11-12 18:18] sfusato commented on #169
The error has to do with how the config is loaded in production (differently than in dev obviously).
I had to make sure `:thesis` app is loaded in prod before attempting the migrations: `Application.load(:thesis)`

[2019-11-12 18:18] #169 closed

[2020-03-29 05:56] 3141618 commented on #105
Can you provide a step by step documentation on implementing trumbowyg in thesis?

[2020-04-22 00:31] adamcee opened #170 "Is thesis still maintained / used?"
Hi! I stumbled on this project and it looks great. Considering using it to help spin up a volunteer site. I was curious if Infinite Red is using thesis internally or in projects, and/or if there are plans to continue maintaining or developing it.

[2020-05-11 00:35] rasputin243 opened #171 "thesis.install not working in Umbrella project"
I created a new umbrella project, and added Thesis to ```MY_APP_umbrella/apps/MY_APP/mix.ex```.

When I ```mix thesis.install``` from the umbrella directory, I see an error about /priv/repo/migrations not existing. When I run ```mix thesis.install``` from the project directory, the migrations are added, but it cannot find ./config/config.ex (which is in the umbrella directory).

I was able to foll

[2020-05-11 01:52] garland commented on #171
rasputin243 is your umbrella application a Phoenix application?

[2020-05-11 01:54] rasputin243 commented on #171
Yes, created with mix phx.new [APP_NAME] --umbrella.

On Sun, May 10, 2020, 20:52 Mat Garland <notifications@github.com> wrote:

[2020-05-11 02:04] garland commented on #171
Can you share your top level mix.exs file?

[2020-05-11 02:10] rasputin243 commented on #171
[code]

[2020-05-11 02:11] rasputin243 commented on #171
This is the mix.exs from the app that uses Thesis

[code]

[2020-05-11 02:21] garland commented on #171
I can see that in the the mix.exs from "the app that uses Thesis", in your deps block, thesis is defined as {:thesis, "~> 0.3.4"}, but umbrella deps should be defined like: {:thesis, in_umbrella: true}]. Please try this alternative configuration and let me know how you go.

[2020-05-11 02:57] rasputin243 commented on #171
I tried that alternative config but was not successful. I tried this on a new umbrella project (```mix phx.new test --umbrella```) and was able to get it working by adding :thesis to the umbrella project mix.exs, as described in the manual install instructions.

[2020-05-11 02:58] rasputin243 commented on #171
Does the thesis.install task support umbrella projects? Based on the error log (described in issue) it seems that the task is expecting the directory structure of a non-umbrella app.

[2020-05-11 04:22] garland commented on #171
Sorry I could not be of more assistance, I have not used this app in a while but I would suggest that you're more than likely spot on with your diagnosis. This seems to be a valid issue.

[2020-12-05 11:12] mayel opened #172 "LiveView support?"
Wondering if there are any plans to support using Thesis in LiveViews and LiveComponents?
Thanks :)

[2020-12-12 19:27] werkzeugh commented on #172
i'm using it in a LiveView-Context in my project, but you have to go with a controller to inject the necessary data
to the live-view-session, a bit hacky, but it works:

in the controller:
[code]

in the live-view-mount:

[code]

in the .leex template:
[code]

[2020-12-12 20:15] mayel commented on #172
Thanks @werkzeugh ! I got something similar to work, but indeed would be better to get proper integration specifically for LV.